__pycache__
/build
/dist
*.cachebust
*.egg-info
*.log
*.log.*
*.env*
*.pyc
tmp
htmlcov
.coverage
workspace.code-workspace
.vscode

docker
!docker/Dockerfile
!docker/build.sh
!docker/deploy.sh
